* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
}

#left-side {
  padding-left: 0.5%;
}

#right-side {
  margin-top: 28px;
  padding: 0 4.8%;
}

#container {
  display: grid;
  grid-template-columns: 15% 65%;
  justify-content: center;
  gap: 0;
  width: 100%;
}

#header-container {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  color: #7B7B7B;
  font-size: 14px;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cover span {
  font-size: 12px;
}

.fa-envelope {
  font-size: 17px;
}

#header_right_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#search-cover {
  width: 100%;
  background-color: #EAF1F7;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5%;
  margin: 18px 0;
  height: 80px;
  border-radius: 40px;
  padding: 0 9.3%;
}
#search-cover #cnt {
  font-size: 15px;
  letter-spacing: -0.5px;
}

#input-search-container {
  display: flex;
  justify-content: center;
  padding: 0 2%;
  flex: 1;
  align-items: center;
  gap: 0.7rem;
}
#input-search-container .button {
  color: white;
  background-color: #52A7C3;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  background-color: white;
  border: 1px solid #CED4DA;
  border-radius: 40px;
  text-align: left;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  font-size: 14px;
  padding: 12px;
}
#search i {
  color: #7B7B7B;
  margin-left: 0.4rem;
}
#search input {
  color: #AFAFAF;
  border: none;
  width: 100%;
}

input::placeholder {
  color: #AFAFAF;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  word-spacing: -10px;
}

.banner-cover {
  margin-top: 2.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}
.banner-cover img {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 0.15rem;
}
.banner-cover .banner-container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: -0.7rem;
}
.banner-cover .banner-container .title {
  color: #52A7C3;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -2px;
}
.banner-cover .banner-container .banner-content {
  color: #333333;
  font-size: 15px;
  /* letter-spacing: -1px; */
  margin-left: 4px;
  font-weight: 400;
}

#card {
  margin-top: 1.1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.8rem 1rem;
  color: #52A7C3;
  font-weight: 600;
  font-size: 16px;
}
#card .card-container {
  border: 1px solid #52A7C3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 1rem 1.8rem;
}
#card .card-container img {
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
  color: red;
}
#card .card-container p {
  line-height: 165%;
  margin-top: -2px;
}

#sidebar {
  padding-left: 0.7rem;
}
#sidebar #sidebar-container {
  border: 2px solid #E1E8EF;
  margin-top: 0.5rem;
}
#sidebar #sidebar-container #logo-cover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
  padding: 1.5rem 0.5rem;
}
#sidebar #sidebar-container #logo-cover .sidebar-btn {
  color: white;
  background-color: #52A7C3;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin-left: 1%;
}

#menu-cover {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#menu-cover .menu-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E1E8EF;
  padding: 1.1rem;
}
#menu-cover .menu-content div {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

#banner-product {
  margin-top: 4rem;
}

#banner-2 {
  margin-top: 0.2rem;
  line-height: 175%;
}
#banner-2 .title {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -2.8px;
}

.line {
  width: 100%;
  height: 1px;
  background: #52A7C3;
  position: relative;
}
.line .subline {
  width: 23%;
  height: 4px;
  background-color: #52A7C3;
  position: absolute;
  top: 0;
  left: 0;
}

.parrent-product {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.product-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 0.8rem;
  justify-content: start;
  align-items: start;
}
.product-container .product-cover {
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 5px;
  background-color: #EAF1F7;
  height: auto;
  min-height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-container .product-cover p {
  color: #52A7C3;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.product-container .product-cover img {
  width: 60%;
}

.line-title {
  color: #52A7C3;
  font-size: 18px;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

#banner-footer-cover {
  margin-top: 5rem;
}
#banner-footer-cover .banner-container {
  margin-left: -0.1%;
}
#banner-footer-cover .banner-container .title {
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
  font-size: 25px;
}
#banner-footer-cover .banner-container .banner-content {
  margin-left: -0.2%;
}

#footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  color: #52A7C3;
  margin-left: 0%;
}
#footer .footer-container {
  margin-top: 2.1rem;
}
#footer .footer-container .footer-line {
  width: 100%;
  height: 1px;
  background: #52A7C3;
  position: relative;
}
#footer .footer-container .footer-line .footer-subline {
  width: 23%;
  height: 3px;
  background-color: #52A7C3;
  position: absolute;
  top: 0;
  left: 0;
}
#footer .footer-container .footer-item-container {
  margin-top: 1.2rem;
  margin-bottom: -1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
#footer .footer-container .footer-item-container .item-title {
  font-weight: 600;
  font-size: 18px;
}
#footer .footer-container .footer-item-container .item-content {
  margin-top: -0.33rem;
  font-size: 14px;
  line-height: 2.5;
  font-weight: 500;
}
#footer .footer-container .footer-item-container .item-content div {
  margin-top: -0.1rem;
  letter-spacing: 0.025rem;
}

#footer-container-4, #footer-container-5 {
  margin-top: 1.65rem !important;
}

footer {
  background-color: #333333;
  color: white;
  font-size: 10px;
  text-align: right;
  padding: 1.5rem;
  margin-top: 8.5rem;
}
footer div {
  margin-right: 14.3%;
  word-spacing: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
