
$primary-color: #52A7C3;
$primary-light-color: #EAF1F7;
$icon-color: #7B7B7B;
$black-color: black;
$white-color: white;
$main-letter: #333333;
$light-letter: #AFAFAF;
$font-general: "Noto Sans JP", sans-serif;
$size-small: 14px;
$margin-general: 18px 0;

// button
@mixin button-styles($color, $background, $left ,$top, $radius) {
    color: $color;
    background-color: $background;
    padding: $left $top;
    border: none;
    border-radius: $radius ;
    cursor: pointer;
  }

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    color: $main-letter;
    font-family:$font-general;
   
}

#left-side {
    //background-color: #52A7C3;
    //padding-left:0.6%;
}   

#right-side {
    margin-top: 28px;
    //background-color: rgb(92, 38, 136);
    padding:0 4.8%;
}   

#container {
    //padding: 2px 10%;
    
    display:grid;
    grid-template-columns:  15% 65% ;
    justify-content: center;
    gap:0;
    width: 100%;
    //height: 100vh;
    //background-color:lightcyan;
}

 // header
#header-container {
    font-family: $font-general;
    font-size:14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    color: $icon-color;
    font-size: $size-small;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    span {
        font-size: 12px;
    }
}

.fa-envelope {
    font-size: 17px;
}

#header_right_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}

//search
#search-cover {
    width:100%;
    background-color:$primary-light-color;
    color:$main-letter;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5%;
    margin:$margin-general;
    height: 80px;
    border-radius: 40px;
    padding: 0 9.3%;
    
    #cnt {
        font-size: 15px;
        letter-spacing: -0.5px;
        //font-weight:
    }
}

#input-search-container {
    display:flex;
    justify-content: center;
    padding: 0 2%;
    flex: 1;
    align-items: center;
    gap:0.7rem;
     .button {
        @include button-styles($white-color,$primary-color ,0.7rem ,1.5rem, 10px );
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
}

#search {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    flex:1;
    background-color: $white-color;
    border: 1px solid #CED4DA; 
    border-radius: 40px;
    text-align: left;
    letter-spacing: 0px;
    color: $main-letter;
    opacity: 1;
    font-size: 14px;
    padding: 12px;
    i {
        color:$icon-color;
        margin-left:0.4rem;
    }
    input {
        color:$light-letter;
        border: none;
        width: 100%;
        
    }
    
}

input::placeholder {
    color: $light-letter;
    font-family: $font-general;
    font-size: 12px;
    word-spacing: -10px;
  }

// banner
.banner-cover {
    margin-top: 2.6rem;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    #banner-cover-img {
        display:flex;
        justify-content: start;
        align-items: center;
        margin-left:0.15rem;
        width:20%;
    }
    .banner-container {
        display:flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        gap:0.5rem;
        //background-color: blue;
        margin-top: -0.7rem;
        .title {
            color: $primary-color;
            font-size: 26px;
            font-weight: 700;
            letter-spacing: -2px;
        }
        .banner-content {
            color: #333333;
            font-size: 15px;
            /* letter-spacing: -1px; */
            margin-left: 4px;
            font-weight: 400;
           
        }
    }
   
}

//card
#card {
    margin-top: 1.1rem;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.8rem 1rem;
    color:$primary-color;
    font-weight: 600;
    font-size:16px;
    .card-container {
        border: 1px solid $primary-color;
        display: flex;
        flex-direction:column;
        justify-content:start;
        align-items: center;
        text-align: center;
        border-radius:10px;
        padding: 1rem 1.8rem;
       
        img {
            margin-top: 0.2rem;
            //width: 20%;
            margin-bottom:0.7rem;
            color:red;
        }
        p{
            line-height: 165%;
            margin-top:-2px;
        }
    }
}

// sidebar
#sidebar {
    position: fixed;
    padding-left:0.9rem;
    width:15%;
    #sidebar-container{
        border: 2px solid #E1E8EF;
        margin-top: 0.5rem;
        //padding: 0.5rem;
        //background-color: red;
        width:100%;
        #logo-cover {
            display: flex;
            flex-direction: column;
            gap:0.5rem;
            justify-content: end;
            align-items: center;
            padding: 1.6rem 0.4rem;
            padding-right: 0.7rem;
            
            .sidebar-btn {
                @include button-styles($white-color,$primary-color ,0.3rem ,1rem,5px );
                font-weight:600;
                font-size:18px;
                color:$white-color;
                margin-left:1.5%;
                margin-top: 0.1rem;
                margin-bottom: -0.3rem;;
            }
        }
    }
    
}

#menu-cover {
    display:flex;
    flex-direction: column;
    //gap: 1rem;
    justify-content: start;
    align-items: start;
    .menu-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        //justify-content: center;
        border-top: 1px solid #E1E8EF;
        //background: #7B7B7B;
        align-items: center;
        padding: 1.3rem 1rem;
        padding-left:0.9rem;
        padding-bottom: 1.05rem;
        div {
            font-size: 14px;
            font-weight: 450;
            color: $main-letter;
            letter-spacing: 0.03rem;
        }
        img {

        }
    }
}
#menu-img-1 {
    margin-top: -0.5rem ;
}
#menu-img-2, #menu-img-4, #menu-img-5 {
    margin-top: -0.5rem;
}



//banner product
#banner-product {
    margin-top:4rem;
}
#banner-2 {
    margin-top: 0.2rem;
    line-height: 175%;
    .title {
        font-weight:600;
        font-size:26px;
        letter-spacing: -2.8px;
    }
}

.line {
    width:100%;
    height:1px;
    background: $primary-color;
    //margin: 1.5rem 0;
    position: relative;
    .subline {
        width:23%;
        height:4px;
        background-color: $primary-color;
        position: absolute;
        top:0;
        left: 0;
    }
}

// product
.parrent-product {
    margin-top:1.5rem;
    margin-bottom: 2.5rem;
}

.product-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 0.8rem;
    justify-content: start;
    align-items: start;
    .product-cover{
        padding: 1rem ;
        padding-top: 2rem;;
        border-radius: 5px;
        background-color: $primary-light-color;
        height: auto;
        min-height: 145px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        p{
            color: $primary-color;
            font-size: 14px;
            font-weight:500;
            text-align: center;
        }
        img{
            width:60%;
        }
    }
}

.line-title {
    color: $primary-color;
    font-size: 18px;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

//banner footer
#banner-footer-cover {
    margin-top: 5rem;
    .banner-container{
        margin-left: -0.1%;
        .title {
            margin-top: 1.2rem;
            margin-bottom: 0.3rem;
            font-size:25px;
        }
        .banner-content {
           margin-left:-0.2%;
        }
    }
}

//footer

#footer {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    color:$primary-color;
    margin-left: 0%;
    .footer-container {
        .footer-line {
            width:100%;
            height:1px;
            background: $primary-color;
            //margin: 1.5rem 0;
            position: relative;
            .footer-subline {
                width:23%;
                height:3px;
                background-color: $primary-color;
                position: absolute;
                top:0;
                left: 0;
        }
    }
        margin-top: 2.1rem;
        //margin-bottom: 0.5rem;
        .footer-item-container{
            margin-top:1.2rem;
            margin-bottom: -1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap:1rem;
            .item-title {
                font-weight:600;
                font-size:18px;
            }
            .item-content{
                margin-top: -0.33rem;
                font-size: 14px;
                line-height: 2.5;
                font-weight:500;
                div{
                    margin-top:-0.1rem;
                   letter-spacing: 0.025rem;
                    //color:red
                }
            }
        }
    }
}

#footer-container-4, #footer-container-5 {
    margin-top: 1.65rem !important; 
}

#footer-item-container-2, #footer-item-container-3  {
    
}

//coppy right
.mobile-menu {
    display: none;
}
#humbuger-menu {
    display:none;
}

 footer {
    background-color: $main-letter;
    color: white;
    font-size: 10px;
    text-align: right;
    padding: 1.5rem;
    margin-top: 8.5rem;
   div{
    margin-right: 14.3%;
    word-spacing: 0.2rem;
   }

 }
 // responsive for smartphone screen 375px 

 @media (max-width: 420px) {
    /* Styles for smartphone screen 375px */

    #container {
        display: block;
        width:100%;
    }
    #left-side {
        display: none;
    }
    #right-side {
        width:100%;
    }

    #search-cover {
        width:100%;
        background-color:$primary-light-color;
        color:$main-letter;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0.5%;
        margin:$margin-general;
        height: 80px;
        border-radius: 40px;
        padding: 2%;
        
        #cnt {
            display: none;
        }
    }
    #card {
        margin-top: 1.1rem;
       display: flex;
       justify-content: start;
       align-items: start;
       flex-direction: column;
       gap:1rem;
        color:$primary-color;
        font-weight: 600;
        font-size:16px;
        .card-container {
            width:100%;
        }
        
    }
    .product-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: unset;
        align-items: unset;
    }
    #footer {
        display: block;
        /* grid-template-columns: auto auto; */
        grid-gap: 1rem;
        color: #52A7C3;
        margin-left: 0%;
    }
    #header-container {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        color: $white-color;
        font-size: 14px;
        position: fixed;
        background-color: $primary-color;
        width: 100%;
        bottom: 0;
        /* top: 0; */
        left: 0;
        padding: 1.5rem;
    }
    .mobile-menu {
    //display: block;
        position: absolute;
        top:0%;
        left:0%;
        color:$icon-color;
        background: white;
        width: 100%;
        z-index: 10;
        padding-left: 4%;
        padding-top: 4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        img {
            width: 20%;
        }
    }
    #humbuger-menu {
        display:flex;
        flex-direction: column;
        //gap: 1rem;
        justify-content: start;
        align-items: start;
        margin-top:3.5rem;
        transform:translateY(0);
        transition: all 1s ease-in-out;
        animation-duration: 300ms;
        transition-duration: 300ms;
        .menu-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            //justify-content: center;
            border-top: 1px solid #E1E8EF;
            //background: #7B7B7B;
            align-items: center;
            padding: 1.3rem 1rem;
            padding-left:0.9rem;
            padding-bottom: 1.05rem;
            div {
                font-size: 14px;
                font-weight: 450;
                color: $main-letter;
                letter-spacing: 0.03rem;
            }
            img {
    
            }
        }
    }
}

.active {
    transform:translateY(-100%) !important;
    visibility: visible;
    overflow: hidden;
    height:0;
}
.inactive {
    transform:translateY(0) !important;
    visibility: visible;
    overflow: hidden;
    height: 100%;
}

