<div id="sidebar-container">
  <div id="logo-cover">
    <div>
      <img src="../images/logo.svg" alt="Description of the SVG image" width="147px">
    </div>
    <button class="sidebar-btn">サポートサイト</button>
  </div>
  <div id="menu-cover">
    <div class="menu-content">
      <div >検査結果画面の解説</div>
      <img src="../../images/open-icon.svg"  descriptiion="open icon"/>
    </div>
    <div class="menu-content">
      <div>主な機能</div>
      <img src="../../images/open-icon.svg"  descriptiion="open icon"/>
    </div>
    <div class="menu-content">
      <div>利用シーン別ガイド</div>
      <img src="../../images/open-icon.svg"  descriptiion="open icon"/>
    </div>
    <div class="menu-content">
      <div>初めてご利用の方へ</div>
      <img src="../../images/open-icon.svg"  descriptiion="open icon"/>
    </div>
    <div class="menu-content">
      <div>FAQ</div>
      <img src="../../images/open-icon.svg"  descriptiion="open icon"/>
    </div>
  </div>
</div>
