<div id="header-container">
    <div class="cover">
        <i class="fa-solid fa-house"></i>
        <span>トップ</span>
    </div>
    <div id="header_right_container">
        <div class="cover">
            <span>ログイン</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </div>
        <div class="cover">
            <span>お問い合わせ</span>
            <i class="fa-regular fa-envelope"></i>
        </div>
    </div>
    
</div>
<div id="search-cover">
    <div id="cnt">どんな事でお困りですか？</div>
    <div id="input-search-container">
        <div id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input 
                type="text"
                placeholder="キーワードを入力"
                value=""
                >
        </div>
        <div class="button">検索</div>
    </div>
    
</div>